.project-card {
  cursor: pointer;
  color: $color-white;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  width: 69rem;
  height: 50%;
  overflow: hidden;
  transition: all 0.4s;

  &--zensave {
    background-image: url('images/zensave.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      filter: none;
      transition: all 0.4s ease-in 0.15s;
    }

    &:hover .project-card__details {
      opacity: 1;
      transition: all 0.2s ease-in 0.15s;
    }
  }

  &--goodtrade {
    background-image: url('images/goodtrade.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      filter: none;
      transition: all 0.4s ease-in 0.15s;
    }

    &:hover .project-card__details {
      opacity: 1;
      transition: all 0.2s ease-in 0.15s;
    }
  }

  &--kukara {
    background-image: url('images/kukara.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      filter: none;
      transition: all 0.4s ease-in 0.15s;
    }

    &:hover .project-card__details {
      opacity: 1;
      transition: all 0.2s ease-in 0.15s;
    }
  }

  &--storytell {
    background-image: url('images/storytell.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      filter: none;
      transition: all 0.4s ease-in 0.15s;
    }

    &:hover .project-card__details {
      opacity: 1;
      transition: all 0.2s ease-in 0.15s;
    }
  }

  &--bosquia {
    background-image: url('images/bosquia.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      filter: none;
      transition: all 0.4s ease-in 0.15s;
    }

    &:hover .project-card__details {
      opacity: 1;
      transition: all 0.2s ease-in 0.15s;
    }
  }

  &--samsung {
    background-image: url('images/samsung.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      filter: none;
      transition: all 0.4s ease-in 0.15s;
    }

    &:hover .project-card__details {
      opacity: 1;
      transition: all 0.2s ease-in 0.15s;
    }
  }

  &--seat {
    background-image: url('images/seat.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      filter: none;
      transition: all 0.4s ease-in 0.15s;
    }

    &:hover .project-card__details {
      opacity: 1;
      transition: all 0.2s ease-in 0.15s;
    }
  }

  &--roady {
    background-image: url('images/roady.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      filter: none;
      transition: all 0.4s ease-in 0.15s;
    }

    &:hover .project-card__details {
      opacity: 1;
      transition: all 0.2s ease-in 0.15s;
    }
  }

  &__details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background: rgba(38, 38, 38, 0.7);
    backdrop-filter: blur(10.8px);
    bottom: 0;
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &__title {
    width: 40rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

    &--bigger {
      width: 50rem;
    }

    &--smaller {
      width: 28rem;
    }
  }

  &__description {
    margin-bottom: 6rem;
  }

  &__tag--yellow::before {
    content: '..';
    border-radius: 40px;
    margin-right: 5px;
    color: $color-tag-yellow;
    background-color: $color-tag-yellow;
  }

  &__tag--cyan::before {
    content: '..';
    border-radius: 40px;
    margin-right: 5px;
    color: $color-tag-cyan;
    background-color: $color-tag-cyan;
  }

  &__tag--purple::before {
    content: '..';
    border-radius: 40px;
    margin-right: 5px;
    color: $color-tag-purple;
    background-color: $color-tag-purple;
  }

  &__tag--turquoise::before {
    content: '..';
    border-radius: 40px;
    margin-right: 5px;
    color: $color-tag-turquoise;
    background-color: $color-tag-turquoise;
  }

  &__tag--orange::before {
    content: '..';
    border-radius: 40px;
    margin-right: 5px;
    color: $color-tag-orange;
    background-color: $color-tag-orange;
  }

  &__tags {
    display: flex;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
  }
}
