@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #041d2c;
}

h2 {
  font-family: 'Hind', sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #041d2c;
}

::-webkit-scrollbar {
  height: 5px;
  width: 8px;
  background: rgb(56, 56, 56);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
