// COLORS
$color-white: #ffffff;
$color-gray-light: #ededed;
$color-gray-medium: #303030;
$color-gray-dark: #161616;
$color-black: #000000;
$color-tag-yellow: #fbff35;
$color-tag-cyan: #73ffff;
$color-tag-turquoise: #15ffc7;
$color-tag-purple: #d764ff;
$color-tag-orange: #ff8473;
